*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wrapper{
    width: 320px;
    height: 53px;
    display: block;
    margin: auto;
    background: #d4e6f1;
    position: relative; 
    cursor: pointer;
    overflow: hidden;
}
#head{
    position: absolute;
    top: -10px;
    left: -320px;
    z-index: 40;
}
#head1{
    position: absolute;
    top: 15px;
    left: 70px;
    /*display: none;*/
}
#head2{
    position: absolute;
    top: 10px;
    left: 0px;
    /*display: none;*/
}
#kreise{
    width: 320px;
    height: 80px;
    position: absolute;
    top: -5px;
    left: 30px;
    z-index: 30;
}
.kreis{
    width: 140px;
    height: 140px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 500px;
}
#huhn{
    background: url('../img/huhn.png') no-repeat center center;
    background-size: cover;
    top: 53px;
    left: -70px;
}
#schwein{
    background: url('../img/schwein.png') no-repeat center center;
    background-size: cover;
    top: 53px;
    left: 125px;
}
#kuh{
    background: url('../img/kuh.png') no-repeat center center;
    background-size: cover;
    top: 53px;
    left: 400px;
}
#footer{
    width: 320px;
    height: 53px;
    background: url('../img/footer.png') no-repeat top left;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: -320px;
    z-index: 50;
}
#w{
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 999;
    background: url('../img/w.png') no-repeat center center;
    width: 18px;
    height: 7px;
}