*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wrapper{
    width: 728px;
    height: 90px;
    display: block;
    margin: auto;
    background: #d4e6f1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#head{
    position: absolute;
    top: 0px;
    left: -550px;
    z-index: 40;
}
#head1{
    position: absolute;
    top: 5px;
    left: 40px;
    /*display: none;*/
}
#head2{
    position: absolute;
    top: 34px;
    left: 0px;
    /*display: none;*/
}
#kreis{
    width: 72px;
    height: 72px;
    position: absolute;
    top: 5px;
    left: 300px;
    z-index: 40;
    background: url('../img/schwein_big.png') no-repeat center center;
    background-size: cover;
    opacity: 0;
    z-index: 1;
}
#footer{
    width: 252px;
    height: 62px;
    /*background: url('../img/footer.png') no-repeat top left;*/
    background-size: cover;
    position: absolute;
    bottom: -62px;
    right: 10px;
    z-index: 30;
}
#footer1{
    width: 126px;
    height: 62px;
    background: url('../img/footer1.png') no-repeat top left;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
}
#footer2{
    width: 126px;
    height: 62px;
    background: url('../img/footer2.png') no-repeat top left;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 126px;
    z-index: 30;
}