*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: nowne;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wrapper{
    width: 300px;
    height: 250px;
    display: block;
    margin: auto;
    background: #d4e6f1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#head{
    position: absolute;
    top: -5px;
    left: -300px;
    z-index: 40;
}
#head1{
    position: absolute;
    top: 15px;
    left: 9px;
    /*display: none;*/
}
#head2{
    position: absolute;
    top: 90px;
    left: 0px;
    /*display: none;*/
}
#kreis{
    width: 72px;
    height: 72px;
    position: absolute;
    top: 5px;
    left: 300px;
    z-index: 40;
    background: url('../img/huhn_big.png') no-repeat center center;
    background-size: cover;
    opacity: 0;
}
#footer{
    width: 290px;
    height: 62px;
    background: url('../img/footer.png') no-repeat top left;
    background-size: cover;
    position: absolute;
    bottom: -72px;
    left: 5px;
    z-index: 30;
}
#w{
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 999;
}