*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wrapper{
    width: 160px;
    height: 600px;
    display: block;
    margin: auto;
    background: #d4e6f1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#head{
    position: absolute;
    top: 0px;
    left: -300px;
    z-index: 40;
}
#head1{
    position: absolute;
    top: 10px;
    left: 9px;
    /*display: none;*/
}
#head2{
    position: absolute;
    top: 75px;
    left: 0px;
    /*display: none;*/
}
#kreise{
    width: 300px;
    height: 50px;
    position: absolute;
    top: 140px;
    left: 10px;
    z-index: 30;
}
.kreis{
    width: 200px;
    height: 200px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 500px;
}
#huhn{
    background: url('../img/huhn.png') no-repeat center center;
    background-size: cover;
    left: -200px;
}
#schwein{
    background: url('../img/schwein.png') no-repeat center center;
    background-size: cover;
    top: -150px;
    left: 300px;
}
#kuh{
    background: url('../img/kuh.png') no-repeat center center;
    background-size: cover;
    top: 300px;
    left: 300px;
}
#footer{
    width: 150px;
    height: 140px;
    background: url('../img/footer.png') no-repeat top left;
    background-size: cover;
    position: absolute;
    bottom: -140px;
    left: 5px;
    z-index: 30;
}
#footer1{
    width: 150px;
    height: 70px;
    background: url('../img/footer1.png') no-repeat top left;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
}
#footer2{
    width: 150px;
    height: 70px;
    background: url('../img/footer2.png') no-repeat top left;
    background-size: cover;
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: 30;
}
#w{
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 999;
}