* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wrapper {
    width: 640px;
    height: 920px;
    display: block;
    margin: auto;
    background: #d4e6f1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#head {
    position: absolute;
    top: -5px;
    left: -550px;
    z-index: 40;
}
#head1 {
    position: absolute;
    top: 80px;
    left: 30px;
    /*display: none;*/
}
#head2 {
    position: absolute;
    top: 298px;
    left: 0px;
    /*display: none;*/
}
#kreise {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70px;
    left: -16px;
    z-index: 30;
}
.kreis {
    width: 350px;
    height: 350px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 500px;
}
#huhn {
    background: url('../img/huhn_big.jpg') no-repeat center center;
    background-size: cover;
    top: 0px;
    left: 700px;
}
#schwein {
    background: url('../img/schwein_big.jpg') no-repeat center center;
    background-size: cover;
    top: 250px;
    left: 700px;
}
#kuh {
    background: url('../img/kuh_big.jpg') no-repeat center center;
    background-size: cover;
    top: 500px;
    left: 700px;
}
#footer {
    width: 333px;
    height: 386px;
    position: absolute;
    bottom: -386px;
    left: 30px;
    z-index: 30;
}
#footer1 {
    width: 333px;
    height: 178px;
    background: url('../img/footer1.png') no-repeat top left;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
}
#footer2 {
    width: 333px;
    height: 178px;
    background: url('../img/footer2.png') no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#w {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 999;
    background: url('../img/w.png') no-repeat center center;
    width: 18px;
    height: 7px;
}