*{
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#wrapper{
    width: 160px;
    height: 600px;
    display: block;
    margin: auto;
    background: #d4e6f1;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
#head{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 40;
}
#head2{
    position: absolute;
    top: 0px;
    right: -300px;
    /*display: none;*/
}
#kreis{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 200px;
    z-index: 40;
    background: url('../img/huhn_big.png') no-repeat center center;
    background-size: cover;
    opacity: 0;
    z-index: 1;
}
#footer{
    width: 150px;
    height: 140px;
    /*background: url('../img/footer.png') no-repeat top left;*/
    background: #fff;
    background-size: cover;
    position: absolute;
    bottom: -140px;
    right: 5px;
    z-index: 30;
}
#footer1{
    width: 150px;
    height: 70px;
    background: url('../img/footer1.png') no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
}
#footer2{
    width: 150px;
    height: 70px;
    background: url('../img/footer2.png') no-repeat top center;
    background-size: cover;
    position: absolute;
    top: 70px;
    left: 0px;
    z-index: 30;
}